In [28]:
n=int(input("Enter number of rows : "))
for i in range(n):
    for j in range(n-i-1):
        #print(" ",end=" ") RHS Triangle
        print(end=" ") #Pyramid
    for j in range(i+1):
        print("*",end=" ")
    print(" ")

Enter number of rows : 8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [30]:
def pyramid(rows):
    for i in range(rows):
        print(" "*(rows-i-1)+' *'*(i+1))
pyramid(8)

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

In [46]:

def pyramid(rows):
    for i in range(rows,-1,-1):
        print(" "*(rows-i)+' *'*(i+1))
pyramid(8)

 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [44]:
num=8
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [50]:
def pyramid(rows):
    for i in range(rows):
        print(' '*(rows-i-1)+"* "*(i+1))
    for j in range(rows-1,0,-1):
        print(' '*(rows-j)+'* '*(j))
rows=int(input("Enter number of rows : "))
pyramid(rows)

Enter number of rows : 9
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [1]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1)+"* "*(i+1))
    for j in range(rows-1,0,-1):
        print(''*(rows-j)+'* '*(j))
rows=int(input("Enter number of rows : "))
pyramid(rows)

Enter number of rows : 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
n=int(input("Enter the number of rows"))
for i in range(n):
    for j in range(2*i+1):
        print("*",end=" ")
    print()

Enter the number of rows6
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * * * * *

In [6]:
n=int(input("Enter number of rows : "))
for i in range(n,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [13]:
n=int(input("Enter number of rows : "))
for row in range(0,n):
    for col in range(0,n):
        if row==0 or col==n-1 or row==col:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter number of rows : 7
*******
 *    *
  *   *
   *  *
    * *
     **
      *

In [16]:
a=1
for i in range(4):
    for j in range(i+1):
        print(a,end=" ")
        a+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [20]:
a="python"
for i in range(len(a)+1):
    for j in range(i):
        print(a[j],end=" ")
    print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [30]:
a=5
for i in range(1,5):
    for j in range(1,a):
        print(j,end=" ")
    a-=1
    print()

1 2 3 4
1 2 3
1 2
1

In [32]:
a=4
for i in range(4):
    for j in range(4,i,-1):
        print(a,end=" ")
    a-=1
    print()

4 4 4 4
3 3 3
2 2
1

In [8]:
for row in range(1,5):
    for col in range(1,8):
        if row==4 or row+col==5 or col-row==3:
            print("*",end="")
        else:
            print(end=" ")
    print()

   *
  * *
 *   *
*******

In [9]:
n=int(input("Enter number of rows: "))
for row in range(1,n+1):
    for col in range(1,n*2):
        if row==n or row+col==n+1 or col-row==n-1:
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter number of rows: 8
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
***************

In [15]:
n=int(input("Enter number of rows: "))
for row in range(1,n+1):
    for col in range(1,n*2):
        if row+col==n+1 or col-row==n-1:
            print("*",end="")
        elif row==n:
            if col%2!=0:
                print("*",end="")
            else:
                print(end=" ")
        else:
            print(end=" ")
    print()

Enter number of rows: 5
    *
   * *
  *   *
 *     *
* * * * *

In [22]:
n=int(input("Enter number of rows : "))
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(end=" ")
    for j in range(i,0,-1):
        print(j,end="")
    for j in range(2,i+1):
        print(j,end="")
    print()

Enter number of rows : 4
   1
  212
 32123
4321234

In [23]:
n=int(input("Enter number of rows : "))
k=0
for i in range(n):
    k=k+i
m=n+k
for i in range(n):
    for j in range(i+1):
        print(format(m,"<3"),end=" ")
        m=m-1
    print()

Enter number of rows : 5
15
14  13
12  11  10
9   8   7   6
5   4   3   2   1

In [37]:
n=int(input("Enter number of rows : "))
for i in range(n):
    m=i+1
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print(end=" ")
    for j in range(i+1):
        print(m,end=" ")
        m+=1
    print()
for i in range(0,2*n,2):
    k=i//2
    for j in range(k):
        print(end=" ")
    for j in range(n-k):
        print(n-j,end=" ")
    print(end=" ")
    for j in range(i,2*n,2):
        print(j+1,end=" ")
    print()

Enter number of rows : 5
    *  1
   * *  2 3
  * * *  3 4 5
 * * * *  4 5 6 7
* * * * *  5 6 7 8 9
5 4 3 2 1  1 3 5 7 9
 5 4 3 2  3 5 7 9
  5 4 3  5 7 9
   5 4  7 9
    5  9

In [15]:
n=int(input("Enter number of rows : "))
for row in range(n):
    val=row+1
    dec=n-1
    for col in range(row+1):
        print(format(val,"<4"),end=" ")
        val=val+dec
        dec-=1
    print()

Enter number of rows : 5
1
2    6
3    7    10
4    8    11   13
5    9    12   14   15

In [21]:
n=int(input("Enter number of rows : "))
def num(n1):
    if n1==1:
        return 1
    return n1+num(n1-1)
k=num(n)
for row in range(n):
    val=k-row
    dec=n-1
    for col in range(row+1):
        print(format(val,"<4"),end=" ")
        val=val-dec
        dec-=1
    print()

Enter number of rows : 6
21
20   15
19   14   10
18   13   9    6
17   12   8    5    3
16   11   7    4    2    1

In [27]:
import math
n=int(input("Enter number of rows : "))
list1=[]
for i in range(n):
    temp_list=[]
    for j in range(i+1):
        if j==0 or j==i:
            temp_list.append(1)
        else:
            temp_list.append(list1[i-1][j-1]+list1[i-1][j])
        
    list1.append(temp_list)
print(list1)
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(list1[i][j],end=" ")
    print()

Enter number of rows : 4
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]
   1
  1 1
 1 2 1
1 3 3 1

In [33]:
import math
n=int(input("Enter number of rows : "))
list1=[]
for i in range(n):
    temp_list=[]
    for j in range(i+1):
        temp_list.append(int(math.factorial(i)/(math.factorial(i-j)*math.factorial(j))))
    list1.append(temp_list)
print(list1)
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print(list1[i][j],end=" ")
    print()

Enter number of rows : 4
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1]]
   1
  1 1
 1 2 1
1 3 3 1

In [5]:
# Python program to
# print square inside
# a square pattern

# Function to print
# the pattern square
# inside a square
n=int(input("Enter number of rows : "))
	
	# To access rows of the square
for i in range(1,n+1):
	
		# To access columns of the square
	for j in range(1,n+1):
		
			# For printing the required square pattern
		if ((i == 1 or i == n or j == 1 or j == n) or
			(i >= 3 and i <= n - 2 and j >= 3 and j <= n - 2) and
				(i == 3 or i == n - 2 or j == 3 or j == n - 2)):
			
			print("*",end="") # Prints star(*)
			
		else:
			
			print(" ",end="") # Prints space(" ")
			
	print()
		

#

Enter number of rows : 7
*  *  *  *  *  *  *
*       *
*   *  *  *   *
*   *   *   *
*   *  *  *   *
*       *
*  *  *  *  *  *  *

In [15]:
num=int(input("Enter number of rows : "))
n_list=[[0 for x in range(num)] for y in range(num)]
n=1
low=0
high=num-1
count=int((num+1)/2)
for i in range(count):
    for j in range(low,high+1):
        n_list[i][j]=n
        n+=1
    for j in range(low+1,high+1):
        n_list[j][high]=n
        n+=1
    for j in range(high-1,low-1,-1):
        n_list[high][j]=n
        n+=1
    for j in range(high-1,low,-1):
        n_list[j][low]=n
        n+=1
    low+=1
    high-=1
for i in range(num):
    for j in range(num):
        print(n_list[i][j],end="\t")
    print()

Enter number of rows : 5
1	2	3	4	5
16	17	18	19	6
15	24	25	20	7
14	23	22	21	8
13	12	11	10	9

In [17]:
num=int(input("Enter number of rows : "))
n_list=[[0 for x in range(num)] for y in range(num)]
n=3
low=0
high=num-1
count=int((num+1)/2)
for i in range(count):
    for j in range(low,high+1):
        n_list[i][j]=n
    for j in range(low+1,high+1):
        n_list[j][high]=n
    for j in range(high-1,low-1,-1):
        n_list[high][j]=n
    for j in range(high-1,low,-1):
        n_list[j][low]=n
    n-=1
    low+=1
    high-=1
for i in range(num):
    for j in range(num):
        print(n_list[i][j],end="\t")
    print()

Enter number of rows : 5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
3	3	3	3	3
3	2	2	2	3
3	2	1	2	3
3	2	2	2	3
3	3	3	3	3